* {
background-color: beige;
}



h2 {
text-align: center;
margin-top: 50px;
font-family:monospace;
font-size: 40px;
}

form {
border-radius:5px;
width:253px;

background-color:darkcyan;
margin:0 auto;
}


input[type=text] {
width:96%;
height: 50px;
text-align: right;
font-weight:bold;
font-size:26px;
margin:5px;
background-color:beige;
color:black;
}


input[type=button] {
background-color:lightgray;
font-weight: bold;
font-size:20px;
 margin:5px;
width:50px;
cursor: pointer;
border-radius:5px;
}

#op {
background-color: lightcoral;
border-radius:5px;
border:none;
}

input[type=button]:active{
transform: translateY(2px);
}




